// disable outbound link icon
.icon.outbound
  display none

.theme-container .sidebar-wrapper .profile {
  position: fixed; 
  left: 0;
  top: 0;
  z-index: 999;
  max-width: 300px;
  padding: 1rem;
}